<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/mock-pages/login/login-bg.png');background-size: cover;">
  <div class="wrapper">
    <div class="container" style="top:11%;">
      <ion-list id="signup-form">
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input class="pd-l-0" type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cognome</ion-label>
          <ion-input class="pd-l-0" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input class="pd-l-0" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input class="pd-l-0" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Ripeti Password</ion-label>
          <ion-input class="pd-l-0" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <button (click)="navigate()" class="btn-lg-red" ion-button full>Entra</button>
    </div>
  </div>
</ion-content>