<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div (click)="navigate()" class="mock-container">
    <img src="assets/mock-pages/gain-credits/gain-credits-2.jpg">
  </div>
</ion-content>
