<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/mock-pages/home/home-bg.png');background-size: cover;">
  <div class="wrapper">
    <div class="container" style="top:22%">
      <div class="logo-container">
        <img src="assets/mock-pages/home/logo.png">
      </div>
      <button (click)="navigate()" class="btn-lg-red" ion-button full>Play</button>
    </div>
  </div>
</ion-content>