<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="navigate()" padding style="background-image: url('assets/mock-pages/map/map.gif');background-size: cover;">
  <div class="wrapper">
    <div class="container" style="top:11%;">
      <div class="balance-box">
        <span class="balance-label" style="margin-left:5px">753.00</span>
        <img src="assets/mock-pages/map/map.gif">
      </div>
    </div>
  </div>