// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
    font-family: "Kinetic";
    src: url("../assets/fonts/HussarEkologiczne1.otf") format("opentype");
}


.content-md, .item-md{
    background-color: #ff443a !important;
}

.item-md .label{
   color: #ffffff;
}

.mock-container {
    max-height: 100vh;
    overflow-y: scroll;
}

.mock-container img {
    position: fixed;
    width: 100vw;
    top: 0;
}

.scroll-content {
    padding: 0px !important;
}

.toolbar-background {
    background-color: transparent !important;
}

.header-md::after {
    display: none !important;
}

.toolbar-title-md {
    display: none !important;
}

.ion-md-menu {
    font-size: 5rem !important;
    color: white;
}

.back-button-icon {
    font-size: 5rem !important;
    color: white;
}


// components
.btn-lg-red {
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    min-height: 70px;
    background-color: #ff443a;
}

.btn-lg-red:hover {
    background-color: #e0342b !important;
}

.logo-container img {
    width: 75%;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 30%;
}

.container {
    position: relative;
    padding: 5%;
}

.wrapper {
    height: 100%;
}

#signup-form .item {
    background-color: transparent !important;
    padding-left: 0px !important;
    color: white;
}

#signup-form {
    margin: -1px 0 50px;
}

.round-avatar {
    max-width: 100px;
    margin-left: auto;
}

.avatar-name {
    margin-right: auto;
    font-family: 'Kinetic';
    margin-left: 6%;
    font-size: 9vw;
}

.title-section{
    font-family: 'Kinetic';
    color: #ffffff;
    font-size: 38px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.balance-box {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.336);
    height: 50px;
    width: 180px;
    margin: 10px;
    border-radius: 13px;
    display: flex;
    align-items: center;
}

.balance-box img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 71px;
}

.balance-label {
    position: relative;
    left: 56px;
    top: 5px;
    font-size: 20px;
}

.content-md, .item-md{
    background-color: #ff443a !important;
}

.item-md .label{
   color: #ffffff;
}