<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="mock-container">
    <img src="assets/mock-pages/ranking/ranking.jpg">
  </div>
</ion-content>
