<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div (click)="navigate()" class="mock-container">
    <img src="assets/mock-pages/game-menu/game-menu.jpg">
  </div>
</ion-content>
