<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/mock-pages/avatar/avatar-bg.png');background-size: cover;">
  <div class="wrapper">
    <div class="container" style="top:11%;">
      <h1 class="title-section">SCEGLI IL TUO PERSONAGGIO</h1>
      <ion-list id="signup-form">
        <ion-item>
          <div style="display: flex;align-items: center;">
            <img src="assets/mock-pages/avatar/tai.png" class="round-avatar" alt="">
            <span class="avatar-name" style="margin-left: 6%;">TAI</span>
          </div>
        </ion-item>
        <ion-item>
          <div style="display: flex;align-items: center;">
            <img src="assets/mock-pages/avatar/jim.png" class="round-avatar" alt="">
            <span class="avatar-name" style="margin-left: 6%;">JIM</span>
          </div>
        </ion-item>
        <ion-item>
          <div style="display: flex;align-items: center;">
            <img src="assets/mock-pages/avatar/jack.png" class="round-avatar" alt="">
            <span class="avatar-name" style="margin-left: 6%;">JACK</span>
          </div>
        </ion-item>
        <ion-item>
          <div style="display: flex;align-items: center;">
            <img src="assets/mock-pages/avatar/sam.png" class="round-avatar" alt="">
            <span class="avatar-name" style="margin-left: 6%;">SAM</span>
          </div>
        </ion-item>
       
      </ion-list>
      <button (click)="navigate()" class="btn-lg-red" ion-button full>Entra</button>
    </div>
  </div>
</ion-content>
