<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="navigate()"  padding style="background-image: url('assets/mock-pages/thief/thief.gif');background-size: cover;">
  <div class="mock-container">
  </div>
</ion-content>
