<!--
  Generated template for the CamionPrimaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content (click)="navigate()" padding style="background-image: url('assets/mock-pages/camion/Camion_prima_incidente.gif');background-size: cover;">
  <div (click)="navigate()" class="mock-container">
  </div>
</ion-content>
