<!--
  Generated template for the ThiefJpgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content padding>
  <div (click)="navigate()" class="mock-container">
    <img src="assets/mock-pages/furto/ladro1.png">
  </div>
</ion-content>
